@using Microsoft.AspNetCore.Components.Web

<link href="css/AboutUsHeader.css" rel="stylesheet" />


<div>

<div class="main" id="1:61">

	<div class="main-circle" id="1:62"></div>
	<p class="main-heading" id="1:63">ABOUT US</p>
	<div class="main-rectangle" id="1:64"></div>
	<img class="main-image" src="images/aboutus-main.png" id="1:65" />
	<p class="main-text" id="1:66">Our names are Javeria & Mah Rukh and we're going to tell you about our project!</p>
</div>

<div class="ellipse" id="1:46"></div>
<p class="item-1" id="1:54">1</p>
<div class="image1" id="1:41"></div>
<p class="firstheading" id="1:49">mentally healthy</p>
<p class="firsttext" id="1:44">For many people, especially those who are lonely, having a pet can be a valuable source of comfort and company. Renting a pet gives lonely people the opportunity to enjoy the presence and love of a pet, which can significantly increase their mood and well-being at such a difficult time.</p>

<div class="ellipse2" id="1:46"></div>
<p class="item-2" id="1:54">2</p>
<div class="image2" id="1:41"></div>
<p class="secondheading" id="1:49">animal socialization</p>
<p class="secondtext" id="1:44">
	Many pets need to socialize and interact with people and other animals to be happy and healthy. 
	<br />
	<br />
	Renting pets also helps those animals that are looking for a permanent home. While they are on rent, they receive care, attention and the opportunity to show their best qualities to potential adopters. This can significantly increase the chances of their successful adaptation and a happy life in a new home.
</p>

<div class="ellipse3" id="1:46"></div>
<p class="item-3" id="1:54">3</p>
<div class="image3" id="1:41"></div>
<p class="thirdheading" id="1:49">convenience</p>
<p class="thirdtext" id="1:44">
	You choose your own rental period and schedule, convenient for you. All you need is to pick up your pet and enjoy a temporary companion.
	<br />
	<br />
	Renting allows you to enjoy the wonderful world of animals. You can gain valuable experience and understand whether a particular animal species suits you.
</p>
	<div class="spacing"></div>
</div>

@code {

}