@page "/about-us"

<style>
    .p-box2 {
        height: 110px;
    }

    .add-aboutus-body {
        background-image: url(/wwwroot/images/bg.jpeg);
    }

</style>

<div class="add-aboutus-body">
    @* <HomeHeader></HomeHeader> *@
    <div class="p-box2"></div>
    <AboutUsHeader />
    <div class="p-box2"></div>
    <Footer></Footer>
</div>

@code {
    // PetFinderAuthService petFinderAuthService = new PetFinderAuthService();
    // string token = "";
    // protected override async Task OnInitializedAsync()
    // {
    //     token = await petFinderAuthService.GetAccessTokenAsync();
    // }
}
