@page "/add-pet"
@page "/add-pet/{userid}"


<style>
    .p-box {
        height: 110px;
    }
</style>

<HomeHeader user=@user.UserName></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    <AddPetHeader />
    <div class="p-box"></div>
</div>

@code {
    [Parameter]
    public string userid { get; set; } 
    public int userid_int{ get; set; }
    User user { get; set; } = new User()
    {
        UserName = "Create Account"
    };

    protected override void OnInitialized()
    {
        if (userid == "")
        {
            userid = "Create Account";
            user.UserName =  "Create Account";
        }
        else
        {
            if (int.TryParse(userid, out int result))
            {
                userid_int = result;
                user = DALServiceUsers.ReadUser(userid_int);
            }
        }

    }
    
}
