@using Microsoft.AspNetCore.Components.Web
@using System.Collections.Generic
@using System.Text

<link href="css/AdoptPetHeader.css" rel="stylesheet" />

<div class="adoptpet-body">
    @if (type == null)
    {
        <div class="filter-section">
            <label for="speciesDropdown">FILTER BY SPECIES:</label>
            <select id="speciesDropdown" @bind="selectedSpecies">
                <option value="">All</option>
                <option value="Cat">Cats</option>
                <option value="Dog">Dogs</option>
                <option value="Fish">Fishs</option>

                <option value="Other">Other Pets</option>
            </select>
        </div>
    }

    <div class="wrapper">
        <div class="card-container">
            @foreach (var pet in FilteredPets)
            {
                <a href="@($"adopt-pet-details?id={pet.Id}&name={pet.Name}&type={pet.Type}&species={pet.Species}&breed={pet.Breed}&color={pet.Color}&age={pet.Age}&gender={pet.Gender}&size={pet.Size}&coat={pet.Coat}&description={pet.Description}&contactEmail={pet.ContactEmail}&contactPhone={pet.ContactPhone}&contactAddress={pet.ContactAddress}")">
                <div class="card">
                    <img src="images/trial-image.jpeg" />
                    <div class="info">
                        <p>Name: @pet.Name</p>
                        <p>Type: @pet.Type</p>
                        <p>Species: @pet.Species</p>
                    </div>
                </div>
                </a>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string type { get; set; } = null;

    private List<Pet> Pets;
    private string selectedSpecies = "";

    protected override void OnInitialized()
    {
        Pets = DALServicePets.GetPets();
        selectedSpecies = type;
    }

    private List<Pet> FilteredPets
    {
        get
        {
            if (string.IsNullOrEmpty(selectedSpecies))
            {
                return Pets;
            }
            else
            {
                return Pets.Where(p => p.Species == selectedSpecies).ToList();
            }
        }
    }
}
