@page "/adopt-pet"
@page "/adopt-pet/{species}"


<style>
    .p-box {
        height: 110px;
    }

</style>
<HomeHeader></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    @if (species != null)
    {
        <AdoptPetHeader type=@species />
    }
    else
    {
        <AdoptPetHeader />
    }

    <div class="p-box"></div>
</div>

<Footer/>

@code {
    [Parameter]
    public string species { get; set; } = null;

}
