@page "/adoption-history"


<style>
    .p-box {
        height: 110px;
    }

</style>
<HomeHeader></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    <AdoptionHistoryC1/>
    <div class="p-box"></div>
</div>

<Footer />

@code {

}
