@page "/contact-us"

<style>
    .add-contactus-body { /* Adjust this value based on your layout needs */
    }

    .p-box {
        height: 110px;
    }

   
</style>

<div class="add-contactus-body">
    <HomeHeader></HomeHeader>
    <div class="p-box"></div>
    <div class="contactus-content">
        <ContactUsHeader />
        <div class="p-box"></div>

        <div class="p-box"></div>

        <div class="p-box"></div>
    </div>
    <Footer></Footer>
</div>

@code {
    // PetFinderAuthService petFinderAuthService = new PetFinderAuthService();
    // string token = "";
    // protected override async Task OnInitializedAsync()
    // {
    //     token = await petFinderAuthService.GetAccessTokenAsync();
    // }
}
