@page "/contact-us"

<style>
    .p-box {
        height: 110px;
    }

</style>

<div class="add-contactus-body">
    <div class="p-box"></div>
    <ContactUsHeader />
    <div class="p-box"></div>
    <Footer></Footer>
</div>

@code {
    // PetFinderAuthService petFinderAuthService = new PetFinderAuthService();
    // string token = "";
    // protected override async Task OnInitializedAsync()
    // {
    //     token = await petFinderAuthService.GetAccessTokenAsync();
    // }
}
