@page "/login"

<style>
    .p-box {
        height: 110px;
    }
</style>

<div>

<div class="add-pet-body">
        <HomeHeader />
    <div class="p-box"></div>
    <LoginHeader />
    <div class="p-box"></div>
        <Footer />
</div>

</div>

@code {

}
