@page "/my-account/{userid}"

<style>
    

    .p-box {
        height: 110px;
    }

</style>
<HomeHeader></HomeHeader>

<div class="p-box"></div>
<MyAccountHeader userId="parseduserid" ></MyAccountHeader>

<div class="p-box"></div>
<Footer></Footer>
@code {
    [Parameter]
    public string userid{ get; set; }

    private int parseduserid { get; set; }

    protected override void OnInitialized()
    {
        if (int.TryParse(userid, out int result))
        {
            parseduserid = result;
        }
        else
        {
            // Handle the case where petid is not a valid integer
            // You might want to display an error message or redirect the user.
        }
    }

    // PetFinderAuthService petFinderAuthService = new PetFinderAuthService();
    // string token = "";
    // protected override async Task OnInitializedAsync()
    // {
    //     token = await petFinderAuthService.GetAccessTokenAsync();
    // }
}
