@page "/signup-header"
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager


<link href="css/SignUpHeader.css" rel="stylesheet" />

<div class="wrapper">
   <div class="signup_box">
        <div class="signup-header">
            <span>Sign Up</span>
        </div>

        <div class="input_box">
            <input type="text" @bind="user.Name" id="name" class="input-field" required>
            <label for="name" class="label">Name</label>
            <i class="bx bx-person icon"></i>
        </div>

        <div class="input_box">
            <input type="text" id="username" @bind="user.UserName" class="input-field" required>
            <label for="username" class="label">Username</label>
            <i class="bx bx-user icon"></i>
        </div>

        <div class="input_box">
            <input type="email" id="email" @bind="user.UserEmail" class="input-field" required>
            <label for="email" class="label">Email</label>
            <i class="bx bx-envelope icon"></i>
        </div>

        <div class="input_box">
            <input type="password" id="password" @bind="user.UserPassword" class="input-field" required>
            <label for="password" class="label">Password</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>

        <div class="input_box">
            <input type="password" id="confirmPassword" @bind="cPass" class="input-field" required>
            <label for="confirmPassword" class="label">Confirm Password</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>

        <div class="inputbox">
            <input type="submit" @onclick="Signup" class="input-submit" value="Sign Up">
        </div>

        <div class="login">
            <span>Already have an account? <a href="/login-header">Login</a></span>
        </div>
    </div>
</div>



@code {
    User user { get; set; } = new User
    {
    };
    string cPass { get; set; }

    private void Signup()
    {
        if(cPass.ToString() == user.UserPassword.ToString()){
            DALServiceUsers.InsertUser(user);
            NavigationManager.NavigateTo($"/home/{user.UserName}");
        }
    }
}