body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('/images/bg.jpeg') no-repeat;
    background-size: cover;
    font-family: 'Arial Rounded MT', sans-serif;
    color: rgba(255, 106, 0, 0.7);
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #994715;
}

.main-circle {
    background-color: #743A36;
    border-radius: 8rem; /* Reduced border radius */
    box-shadow: 0 0 0.16rem rgba(0, 0, 0, 0.25); /* Reduced shadow */
    height: 8rem; /* Reduced height */
    width: 8.2rem; /* Reduced width */
    position: absolute;
    top: 1.1rem; /* Positioned at the top */
    left: 41.5%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.main-image {
    height: 6rem; /* Reduced height */
    width: 4rem; /* Reduced width */
    object-fit: cover;
    position: absolute;
    top: 1.27rem; /* Adjusted top */
    left: 36.3rem; /* Adjusted left */
}

.main-rectangle {
    background-color: #B96A59;
    border-radius: 3.9rem; /* Reduced border radius */
    box-shadow: 0.312rem 0.104rem 0.208rem rgba(0, 0, 0, 0.25); /* Adjusted shadow */
    height: 3.8rem; /* Reduced height */
    width: 30rem; /* Adjusted width */
    position: absolute;
    top: 5rem; /* Adjusted top */
    left: 36rem; /* Adjusted left */
}

.main-heading {
    color: white;
    position: absolute;
    font-size: 1.3rem; /* Reduced font size */
    height: 3rem; /* Reduced height */
    left: 43rem; /* Adjusted left */
    letter-spacing: 0.2rem; /* Adjusted letter spacing */
    line-height: 1.1640625;
    top: 3rem; /* Adjusted top */
    width: 17.8rem; /* Adjusted width */
    font-weight: bold;
}

.main-text {
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 0.78rem; /* Reduced font size */
    height: 2rem; /* Reduced height */
    left: 41rem; /* Adjusted left */
    letter-spacing: 0.117rem; /* Adjusted letter spacing */
    line-height: 1.2361111111;
    top: 6rem; /* Adjusted top */
    width: 23rem; /* Adjusted width */
}

/*2nd*/

.ellipse {
    background-color: rgba(rgba(116, 58, 54, 0.1);
    border-radius: 8.1rem;
    box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 4.2rem;
    left: 12.9rem;
    position: absolute;
    top: 14.1rem;
    width: 4.2rem;
}

.item-1 {
    color: #f8f8f8;
    font-family: Rubik, 'Source Sans Pro';
    font-size: 2.7rem;
    font-weight: 400;
    height: 7.9rem;
    left: 14.4rem;
    letter-spacing: 0.91rem;
    line-height: 0.5607142857;
    position: absolute;
    top: 15.4rem;
    white-space: nowrap;
    width: 7rem;
}

.image1 {
    background-image: url('/images/image1.png');
    background-position: -18.4739rem -0.3226rem;
    background-size: 140.764% 101.221%;
    border-radius: 37.95rem;
    height: 65.5rem;
    left: 16.2rem;
    position: relative;
    top: 166.8rem;
    width: 66.3rem;
}
